:root {
    --font-main: 'DM Sans';
    --font-header: 'Titan One';
    --basic-color: #fff;
    --text-main: #000;
    --text-second: #907E82;
    --brand-one: #D41443;
    --brand-second: #FFA5BA;
    --background-header: #FFB8CA;
    --background-about: #FFF5F6;
    --background-clients: #FAFAFA;
    --coffie-color: #F0D1A5;
    --shakes-color: #C2E297;
    --social-links: #FEA5BB;
    --hover-color: #ECEBEB;
    --underline-color: #E1E1E1;
}