<section class="about">
    <div class="about__header">
        <h2 class="about__title">how it's made?</h2>
        <p class="about__title-label">tradition and love</p>
    </div>
    <div class="about__description-background-desktop">
        <div class="about__main-div">
            <picture>
                <source media="(max-width: 767.999px)"
                    srcset="./images/cow-milk-280.png 280w, ./images/cow-milk-280@2x.png 560w"
                    sizes="(min-width: 320px) 280px, 100vw">
                <source media="(min-width: 768px) and (max-width: 1199.999px)"
                    srcset="./images/cow-milk-340.png 340w, ./images/cow-milk-340@2x.png 680w"
                    sizes="(min-width: 768px) 340px, 100vw">
                <source media="(min-width: 1120px)"
                    srcset="./images/cow-milk-516.png 516w, ./images/cow-milk-516@2x.png 1032w"
                    sizes="(min-width: 1200px) 516px, 100vw">
                <img src="./images/cow-milk-280.png" alt="Cow with Milk" class="about__picture">
            </picture>
            <div>
                <div class="about__description-background-mobile">
                    <div class="about__div-description">
                        <p class="about__description about__description--margin about__description--size">
                            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                            lorem eget, egestas eros.
                            Maecenas eleifend erat at justo fringilla.
                        </p>
                        <p class="about__description about__description--margin-desktop about__description--color">
                            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
                            in imperdiet placerat.
                            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                            tincidunt.
                        </p>
                        <p class="about__description about__description--color">
                            Aliquam erat volutpat. Aenean accumsan.
                        </p>
                    </div>
                </div>
                <button type="button" class="about__button">
                    Read more
                    <svg class="about__button-icon">
                        <use href="./images/icons.svg#icon-read_more"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <ul class="about__list">
        <li class="about__list-item">
            <picture>
                <source media="(max-width: 767.999px)"
                    srcset="./images/about-milk-33.png 33w, ./images/about-milk-33@2x.png 66w"
                    sizes="(min-width: 320px) 33px, 100vw">
                <img src="./images/about-milk-33.png" alt="Milk" class="about__icon">
            </picture>
            <div>
                <p class="about__value">
                    721
                </p>
                <p class="about__value-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </li>
        <li class="about__list-item">
            <picture>
                <source media="(max-width: 767.999px)"
                    srcset="./images/about-fruits-50.png 50w, ./images/about-fruits-50@2x.png 100w"
                    sizes="(min-width: 320px) 50px, 100vw">
                <img src="./images/about-fruits-50.png" alt="Milk" class="about__icon">
            </picture>
            <div>
                <p class="about__value">
                    16kg
                </p>
                <p class="about__value-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </li>
        <li class="about__list-item">
            <picture>
                <source media="(max-width: 767.999px)"
                    srcset="./images/about-heart-44.png 44w, ./images/about-heart-44@2x.png 88w"
                    sizes="(min-width: 320px) 44px, 100vw">
                <img src="./images/about-heart-44.png" alt="Milk" class="about__icon">
            </picture>
            <div>
                <p class="about__value">
                    84
                </p>
                <p class="about__value-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </li>
    </ul>
</section>