<section class="contacts">
    <div class="container">

        <h2 class="contact__header" hidden>Contact</h2>
        <img class="contacts-background" src="/images/contacts/contacts-bg.png" alt="dots" />

        <ul class="contacts__list list">
            <li class="contacts__item">
                <p class="item__branch cafe__branch">CAFE</p>
            </li>

            <li class="contacts__item">
                <p class="item__town">Chicago</p>
                <p class="item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>

            <li class="contacts__item">
                <p class="item__opening-days">Monday - Friday</p>
                <p class="item__opening-days-hours">06:00 AM - 10:00 PM</p>
                <p class="item__opening-weekends">Saturday - Sunday</p>
                <p class="item__opening-weekends-hours">08:00 AM - 16:00 PM</p>
            </li>

            <li class="contacts__item">
                <p class="item__phone"><a class="contacts__phone link" href="tel:+61(0)383766284">+61(0) 383 766 284</a></p>
                <p class="item__email"><a class="contacts__email link" href="mailto:noreply@envato.com">noreply@envato.com</a></p>
            </li>
        </ul>

        <ul class="contacts__list list">
            <li class="contacts__item">
                <p class="item__branch foodtruck__branch">FOOD TRUCK</p>
            </li>

            <li class="contacts__item">
                <p class="item__town">Los Angeles</p>
                <p class="item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>

            <li class="contacts__item">
                <p class="item__opening-days">Monday - Friday</p>
                <p class="item__opening-days-hours">06:00 AM - 10:00 PM</p>
                <p class="item__opening-weekends">Saturday - Sunday</p>
                <p class="item__opening-weekends-hours">08:00 AM - 16:00 PM</p>
            </li>

            <li class="contacts__item">
                <p class="item__phone"><a class="contacts__phone link" href="tel:+61(0)383766284">+61(0) 383 766 284</a></p>
                <p class="item__email"><a class="contacts__email link" href="mailto:noreply@envato.com">noreply@envato.com</a></p>
            </li>
        </ul>

        <ul class="contacts__list list">
            <li class="contacts__item">
                <p class="item__branch cafe__branch">CAFE</p>
            </li>

            <li class="contacts__item">
                <p class="item__town">New York</p>
                <p class="item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>

            <li class="contacts__item">
                <p class="item__opening-days">Monday - Friday</p>
                <p class="item__opening-days-hours">06:00 AM - 10:00 PM</p>
                <p class="item__opening-weekends">Saturday - Sunday</p>
                <p class="item__opening-weekends-hours">08:00 AM - 16:00 PM</p>
            </li>
            
            <li class="contacts__item">
                <p class="item__phone"><a class="contacts__phone link" href="tel:+61(0)383766284">+61(0) 383 766 284</a></p>
                <p class="item__email"><a class="contacts__email link" href="mailto:noreply@envato.com">noreply@envato.com</a></p>
            </li>
        </ul>
    </div>

        <div class="contacts__btn">
            <button class="modal-btn__locations" data-modal-open>Our Locations
                <svg class="icon-btn">
                    <use href="./images/sprite.svg#icon-btn-white"></use>
                </svg>
            </button>

            <button class="modal-btn__franchise">Franchise
                <svg class="icon-btn">
                    <use href="./images/sprite.svg#icon-btn"></use>
                </svg>
            </button>
        </div>

        <div>
</section>