<section class="customer_reviews">
    <div class="container">
        <div class="customer_reviews__slider">


            <img class="customer_reviews__avatar" alt="Customer avatar"
                src="./images/customer_reviews/customer-avatar-2-85px.png"
                srcset="./images/customer_reviews/customer-avatar-2-85px@2x.png 2x" />


            <p class="customer_reviews__review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor
                risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            <span class="customer_reviews__client-name">
                Emily, Los Angeles
            </span>
        </div>
        <div class="customer_reviews__slider-pagination">
            <svg class="slider-controls">
                <use class="slider-controls__home" href="images/sprite.svg/#icon-slider-home"></use>
            </svg>
            <svg class="slider-controls">
                <use class="slider-controls__dot" href="images/sprite.svg/#icon-slider-dot"></use>
            </svg>
            <svg class="slider-controls">
                <use class="slider-controls__dot" href="images/sprite.svg/#icon-slider-dot"></use>
            </svg>
        </div>

    </div>
</section>