<footer class="footer">
    <div class="container">
    <!-- kontener zbiorczy do wystylizowania pod tablet/pc -->
    <div class="footer__tablet-pc">
    <!-- kontener dla tytułów -->
    <div class="footer__title">
    <!-- jako że w wytycznych jest żeby przenieść tytuł dałem h2h1 zamiast p -->
    <h2 class="footer__title--first">homemade ice cream made</h2>
    <h1 class="footer__title--second">with passion</h1>
    </div>
    <!-- kontener na sociale i kontakt -->
    <div class="footer__right-side">
      <!-- kontener na sociale -->
      <div>
        <ul class="social-list">
          <li >
              <a target="_blank" rel="noopener" href="https:github.com" class="social-list__link">
                  <svg class="social-list__icon">
                      <use href="./images/sprite.svg#icon-git"></use>
                  </svg>
              </a>
          </li>
          <li >
              <a target="_blank" rel="noopener" href="https:telegram.org" class="social-list__link">
                  <svg class="social-list__icon">
                      <use href="./images/sprite.svg#icon-telegram"></use>
                  </svg>
              </a>
          </li>
          <li >
              <a target="_blank" rel="noopener" href="https:facebook.com" class="social-list__link">
                  <svg class="social-list__icon">
                      <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
              </a>
          </li>
      </ul>
      <!-- kontener na kontakt -->
      </div>
      <div class="footer__contact">
        <p class="footer__contact--caption">Feel free to contact <a class="footer__contact--link" href="tel:61(0)383766284">+ 61 (0) 383 766 284</a></p>
      </div>
    </div>
    </div>
    <!-- kontener na prawa autorskie -->
    <div class="footer__copyrights">
      <p class="footer__copyrights--text">@ 2019 - IceCream. All Rights Reserved</p>
    </div>
    </div>
  </footer>