<section class="gallery">
    <h2 hidden>Gallery</h2>
    <picture>
        <source media="(min-width: 1200px)"
            srcset="./images/gallery/gallery-desktop-1200px.jpg 1x, ./images/gallery/gallery-desktop-@2x-1200px.jpg 2x">

        <source media="(min-width: 768px)"
            srcset="./images/gallery/gallery-tablet-768px.jpg 1x, ./images/gallery/gallery-tablet-@2x768px.jpg 2x">

        <source srcset="./images/gallery/gallery-mobile-@2x320.jpg 2x">

        <img class="gallery__picture" src="./images/gallery/gallery-mobile-320.jpg"
            alt="Photos of delicious icecreams and shakes of various kinds and sizes">
    </picture>
</section>