<header class="header">
  <div class="container">
    <div class="header__nav">
      <a class="logo" href="./index.html">
        <img
          src="./images/hero_header/mobile/logo-mobile.png"
          alt="logo Ice Cream"
          width="199"
          height="50"
        />
      </a>

      <nav class="navigation">
        <ul class="navigation__list list">
          <li class="navigation__item">
            <a href="./index.html" class="navigation__link link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="#blue" class="navigation__link link">About us</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link link">How it's made?</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link link">Our Prodacts</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link link">Contact</a>
          </li>
        </ul>

        <button class="header__btn-nav" type="button">Buy now</button>
      </nav>
    </div>
    <!-- Down -->
    <button type="button" class="mobile-menu-burger" data-menu-open>
      <svg class="mobile-menu-burger__icon" width="20" height="12">
        <use href="./images/sprite.svg#icon-burger_menu"></use>
      </svg>
    </button>

    <h1 class="header__title">
      <span
        >ice cream <br />
        made with <br/></span
      ><span class="header__title-theme">passion</span>
    </h1>

    <ul class="header__button-list list">
      <li class="header__button-item">
        <button class="button header__button-main">Products</button>
      </li>
      <li class="header__button-item">
        <button class="button header__button-second">How it's made?</button>
      </li>
    </ul>
    <p class="header__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>

    <svg class="header__photo-ellipse">
      <ellipse />
    </svg>

    <picture class="header__photo-ice">
      <source
        srcset="
          ./images/hero_header/desktop/ice-desktop.png    1x,
          ./images/hero_header/desktop/ice@2x-desktop.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hero_header/tablet/ice-tablet.png    1x,
          ./images/hero_header/tablet/ice@2x-tablet.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero_header/mobile/ice-mobile.png    1x,
          ./images/hero_header/mobile/ice@2x-mobile.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="./images/hero_header/mobile/ice-mobile.png" alt="ice" />
    </picture>

    <picture class="header__photo-milk">
      <source
        srcset="
          ./images/hero_header/desktop/milk-desktop.png    1x,
          ./images/hero_header/desktop/milk@2x-desktop.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hero_header/tablet/milk-tablet.png    1x,
          ./images/hero_header/tablet/milk@2x-tablet.png 2x
        "
        media="(min-width: 768px)"
      />
      <img src="./images/hero_header/tablet/milk-tablet.png" alt="milk" />
    </picture>

    <picture class="header__photo-tasty">
      <source
        srcset="
          ./images/hero_header/desktop/tasty-desktop.png    1x,
          ./images/hero_header/desktop/tasty@2x-desktop.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hero_header/tablet/tasty-tablet.png    1x,
          ./images/hero_header/tablet/tasty@2x-tablet.png 2x
        "
        media="(min-width: 768px)"
      />

      <img src="./images/hero_header/tablet/tasty-tablet.png" alt="tasty" />
    </picture>
    <div class="cafe">
      <div class="cafe__ellipse"></div>
      <a class="cafe__number">16</a>
      <a class="cafe__title">cafes</a>
    </div>
    <div class="trucks">
      <div class="trucks__ellipse"></div>
      <a class="trucks__number">23</a>
      <a class="trucks__title">food trucks</a>
    </div>
  </div>
</header>