<div class="modal is-hidden" data-menu>

  <svg class="modal__close" width="14" height="14" data-menu-close>
    <use href="./images/sprite.svg#icon-close-btn"></use>
  </svg>

  <button class="modal__btn" type="button"
  >Buy now   
    <svg class="modal__btn--arrow" width="8" height="10" >
      <use href="./images/sprite.svg#icon-right-arrow"></use>
    </svg>
  </button>

  <ul class="modal__navigation">
    <li class="modal__item">
      <a href="./index.html" class="modal__link">Home</a>
    </li>
    <li class="modal__item">
      <a href="#blue" class="modal__link">About us</a>
    </li>
    <li class="modal__item">
      <a href="#" class="modal__link">How it's made?</a>
    </li>
    <li class="modal__item">
      <a href="#" class="modal__link">Our Prodacts</a>
    </li>
    <li class="modal__item">
      <a href="#" class="modal__link">Contact</a>
    </li>
  </ul>

</div>