.contacts {
    background-color: var(--background-about);
    background: linear-gradient(0deg, #FFF5F6 96%, #fff 4%);
    margin-top: 86px;
}

.contacts-background {
    display: none;
}

.contacts__list {
    display: block;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    padding: 43px 20px;
    background: var(--basic-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.contacts__item { 
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
}

.item__branch {
    margin-bottom: 25px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    letter-spacing: 0.04em;
    color: var(--basic-color);
    border-radius: 4px;
}

.cafe__branch {
    width: 80px;
    height: 16px;
    letter-spacing: 0.04em;
    background: var(--coffie-color);
}

.foodtruck__branch {
    width: 130px;
    height: 16px;
    letter-spacing: 0.04em;
    background: var(--shakes-color);
}

.item__town {
    padding-bottom: 10px;
    letter-spacing: 0.04em;
    color: var(--text-main);
}

.item__description {
    width: 179px;
    line-height: 150%;
    color: #907E82;

    /* linia zrobiona jako border bottom a nie before */
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
}

.item__opening-days,
.item__opening-weekends {
    color: var(--text-main);
}

.item__opening-days-hours,
.item__opening-weekends-hours {
    color: var(--background-header);
}

.item__opening-days {
    padding-top: 25px;
}

.item__opening-days-hours {
    margin-bottom: 10px;
}

.item__opening-weekends-hours {
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
}

.contacts__phone,
.contacts__email {
    line-height: 150%;
    color: var(--text-second);
    cursor: pointer;
}

.item__phone {
    padding-top: 25px;
}

.contacts__btn {
   margin-top: 54px;  
   padding-bottom: 113px; 
}

.modal-btn__locations,
.modal-btn__franchise {
    display: block;
    width: 161px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 22px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.modal-btn__locations {
    color: var(--basic-color);
    background: var(--brand-one);

    &:hover,
    &:focus {
        background: #C7133E;
    }
}

.modal-btn__locations .icon-btn {
    margin-left: 8px;
}

.modal-btn__franchise {
    color: var(--brand-one);
    background: var(--basic-color);

    &:hover,
    &:focus {
        background: #ECEBEB;
    }
}

.icon-btn {
    width: 4.28px;
    height: 8px;
    margin-left: 13.16px;

    &:hover,
    &:focus {
        fill: var(--basic-color);
    }
}

@media screen and (min-width: 768px) {
    .contacts {
        background: linear-gradient(0deg, #FFF5F6 90%, #fff 10%);
        margin-top: 119px;
    }

    .contacts .container {
        display: flex;
    }

    .contacts__list {
        padding: 50px 31px;
    
        &:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 20px;
        }
    }
    
    .contacts__item { 
        font-size: 14px;
    }
    
    .item__branch {
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .cafe__branch {
        width: 73px;
        height: 28px;
    }
    
    .foodtruck__branch{
        width: 138px;
        height: 28px;
    }
    
    .item__town {
        padding-bottom: 14px;
    }
    
    .item__description {
        width: 145px;
        line-height: 166%;

        /* linia zrobiona jako border bottom a nie before */
        padding-bottom: 30px;
    }
    
   
    .item__opening-days {
        padding-top: 30px;
    }
    
    .item__opening-days-hours {
        margin-bottom: 16px;
    }

    .item__opening-weekends-hours {
        padding-bottom: 30px;
    }
    
    .item__phone,
    .item__email {
        line-height: 183%;
    }
    
    .item__phone {
        padding-top: 30px;
    }
    
    .contacts__btn {
       margin-top: 54px;  
       padding-bottom: 113px; 
    }
    
    .contacts__btn {
        text-align: center;
    }

    .modal-btn__locations,
    .modal-btn__franchise {
        display: inline-block;
      
        &:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 15px; 
        }
    }
}

@media screen and (min-width: 1200px) {
    .contacts {
        background: linear-gradient(0deg, #FFF5F6 88%, #fff 12%);
        margin-top: 132px;
    }
    
    .contacts .container {
        display: flex;
        justify-content: space-around;
        background-image: url("/images/contacts/contacts-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: center;
    }

    .contacts__list {
        width: 330px;
        padding: 51px 43px;
    
        &:not(:last-child) {
            margin-right: 31px;
        }
    }
    
    .contacts__item { 
        font-size: 16px;
    }
    
    .item__branch {
        margin-bottom: 32px;
    }
    
    .item__town {
        padding-bottom: 10px;
    }
    
    .item__description {
        width: 243px;
        line-height: 183%;

        /* linia zrobiona jako border bottom a nie before */
        padding-bottom: 30px;
    }
    
    .item__opening-days {
        padding-top: 32px;
    }
    
    .item__opening-days-hours {
        margin-bottom: 15px;
    }

    .item__opening-weekends-hours {
        padding-bottom: 32px;
    }
      
    .item__phone {
        padding-top: 32px;
    }
    
    .contacts__btn {
       margin-top: 86px;  
       padding-bottom: 165px; 
    }
}
