.gallery {
    background: linear-gradient(0deg, #fff 60%, var(--background-about) 40%);
    // max-width: 1200px;
    margin: 0 auto;

    &__picture {
        margin: 0 auto;
        min-width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .gallery {
        // max-width: 480px;
        // margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .gallery {
        // max-width: 768px;
        // margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .gallery {
        // max-width: 1200px;
        // margin: 0 auto;
    }
}