.header .container {
  position: relative;
  background-color: var(--background-header);
  height: 502px;
  // padding-right: 0px;
  // width: 100%;
}
.header__nav {
  // position: relative;
  justify-content: left;
  align-items: center;
}
.logo {
  display: flex;
  padding-top: 6px;
  //   padding-left: 20px;
}

.mobile-menu-burger {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  fill: var(--brand-one);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn-nav,
.navigation__list,
.header__photo-tasty,
.header__photo-milk,
.header__text,
.cafe,
.trucks {
  display: none;
}
.header__title {
  position: absolute;
  font-family: var(--font-header);
  color: var(--basic-color);
  font-size: 26px;
  line-height: 1.15;
  margin-top: 137px;
  margin-bottom: 19px;
  text-transform: uppercase;
  z-index: 3;
  // margin-left: 20px;
}
.header__title-theme {
  font-size: 48px;
  line-height: 1.043;
  color: var(--brand-one);
}

// .button {
//   // font-weight: 700;
//   font-size: 16px;
//   line-height: 1.313;
//   text-align: center;
//   color: var(--basic-color);
//   border-radius: 22px;
//   border-style: none;
//   cursor: pointer;
// }

.header__button-list {
  display: flex;
  font-family: var(--font-main);
  z-index: 3;
  margin-top: 260px;
  position: absolute;
}

.header__button-main {
  color: var(--brand-one);
  background-color: var(--basic-color);
  // position: absolute;
  // z-index: 4;

  border-radius: 20px;
  align-items: center;
  text-align: center;
  width: 62.4px;
  height: 24px;
  font-size: 8px;
  border: none;
  margin-right: 8px;
}

.header__button-second {
  color: var(--brand-one);
  background-color: var(--basic-color);
  // left: 70px;
  // position: absolute;
  // z-index: 4;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  // background-color: $primaryColor;
  width: 82.8px;
  height: 24px;
  font-size: 8px;
  border: none;
}
.header__button-main:hover,
.header__button-second:hover,
.header__button-main:focus,
.header__button-second:focus {
  background-color: var(--basic-color);
  color: var(--brand-one);
}

.header__photo-ice {
  position: absolute;
  bottom: 0;
  left: 117px;
  z-index: 2;
}
.header__photo-ellipse {
  // display: block;
  position: absolute;
  // padding-right: -20px;
  bottom: 75px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--brand-second);
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .header .container {
    height: 399px;
  }
  .logo {
    padding-top: 37px;
    padding-left: 14px;
  }


    .header__title {
      position: absolute;
      font-family: var(--font-header);
      color: var(--basic-color);
      font-size: 26px;
      line-height: 1.15;
      
      margin-bottom: 19px;
      text-transform: uppercase;
      z-index: 3;
    }
  .header__btn-nav {
    height: 44px;
    width: 160px;
    left: 574px;
    top: 38px;
    border-radius: 22px;
    background-color: white;
    color: #D41443;
    position: absolute;
    border-color: white;
    border: 1px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
  }

    .header__button-list {
      display: flex;
      font-family: var(--font-main);
      z-index: 3;
      margin-top: 130px;
      position: absolute;
    }
  .trucks {
    height: 44px;
    width: 43px;
    left: 691px;
    border-radius: 0px;
    position: absolute;
    top: 140px;

  }

  .cafe__title {
    font-family: DM Sans;
      font-size: 8px;
      font-weight: 400;
      line-height: 10px;
      letter-spacing: 0em;
      text-align: left;
      color: white;
  }

  .header__button-main {
    font-size: 8px;
    line-height: 1.137;
  }
  .header__button-second {
    font-size: 8px;
    // line-height: 0.912;
  }
  .header__photo-ice {
    position: absolute;
    bottom: 0;
    left: 358px;
    // z-index: 2;
  }
  .header__photo-ellipse {
    // display: block;
    position: absolute;
    // padding-right: -20px;
    bottom: 46px;
    left: 287px;
    width: 324px;
    height: 322px;
    // border-radius: 50%;
    // background-color: var(--brand-second);
    // z-index: 1;
  }
  .header__photo-tasty {
    display: flex;
    position: absolute;
    right: 34px;
    bottom: 0px;
    z-index: 4;
  }

  .header__photo-milk {
    display: flex;
    position: absolute;
    left: 14px;
    bottom: 28px;
  }

  .mobile-menu-burger {
    position: absolute;
    z-index: 2;
    top: 52px;
    right: 224px;
    border: none;
    background-color: transparent;
    fill: var(--brand-one);
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__text {
    position: absolute;
    left: 130px;
    top: 280px;
    display: flex;
    width: 114px;
    height: 48px;
    font-family: DM Sans;
    font-size: 8px;
    font-weight: 400;
    text-align: left;
    color: white;
  }

}
@media screen and (min-width: 1280px) {
  .header .container {
    height: 665px;
  }
  .mobile-menu-burger {
    display: none;
  }

  .logo {
    position: absolute;
    top: 37px;
    left: -65px;
    // padding-left: 20px;
  }
  .navigation {
    margin-left: 110px;
  }
  .header__photo-ice {
    // position: absolute;
    bottom: 0;
    left: 482px;
    // z-index: 2;
  }
  .header__photo-ellipse {
    display: block;
    position: absolute;
    // padding-right: -20px;
    bottom: 75px;
    left: 363px;
    width: 538px;
    height: 538px;
    // border-radius: 50%;
    // background-color: var(--brand-second);
    // z-index: 1;
  }
  .header__photo-tasty {
    display: flex;
    position: absolute;
    right: 109px;
    bottom: 0px;
  }

  .header__photo-milk {
    display: flex;
    position: absolute;
    left: 14px;
    bottom: 28px;
  }
}
